*{
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    
    font-family: 'Noto Sans JP', sans-serif;
}
    .card{
        margin: 0 auto ;
        max-width: 350px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 gray;
        font-size: 0;
        
        
    }
.card:hover{
    box-shadow: 0 16px 32px 0 gray;
}

.calc-head #result{
    width:335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right !important;
    padding: 0 5px;
    letter-spacing: 2px;
}

.btn{
        width: 87px;
        height: 70px;
        font-weight: bold;
        font-size: 16px;
        background-color: #1f2326;
        color: white;
}
.btn-style{
            background-color: #5F4886;
}

.btn:hover{
    background-color:dimgray ;
}